@model  Mohdthat.ViewModels.RoomsViewModel
@{
    ViewBag.Title = "Index";
   
}

<div id="add-contact" class="container">

    <div class="jumbotron text-center" style="font-size:30pt">
        Add Groups
    </div>

@using (Html.BeginForm("Add", "Group"))
{ 
     
     

    <div class="container">
        <div class="col-md-11">
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(m => m.Room.Name, new { @class = "form-control", placeholder = "Type your group name"})
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </div>
}
   
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th><h4>ID</h4></th>
                <th><h4>Name</h4></th>
                <th><h4>Created By</h4></th>
                <th><h4>Created At</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <tr>
                @if (Model.Rooms == null)
                {
                    <td><h4>Nothing</h4></td>
                }
            </tr>
            @{var count = 0;}
            @foreach(var group in Model.Rooms){
                count++;
                 <tr>
                     <td><h4>@count</h4></td>
                    <td><h4>@Html.ActionLink(group.Name, "AddMembersView", "Group", new { id = group.Id }, new { @class = "" })</h4></td>
                    <td><h4>@group.CreatedBy</h4></td>
                     <td><h4>@group.CreatedAt</h4></td>
                </tr>          
            }
            <tr>
                <td><h4></h4></td>
                <td><h4></h4></td>
                <td><h4></h4></td>
                <td><h4></h4></td>
            </tr>          
        </tbody>
    </table>

</div>
